@using Microsoft.AspNetCore.Components.Web
@using NetBlocks.Utilities;

@typeparam TModel where TModel : class, new()

@if (models is null || columnMap is null)
{
    <div>Loading...</div>
}
else
{   
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                @foreach(string caption in Captions)
                {
                    <th scope="col">@caption</th>                
                }
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Counted<TModel> model in Models)
            {
                <tr>
                    <th scope="row">@model.Ordinal</th>
                    @foreach (ColumnKey key in Keys)
                    {
                        var column = _columnMap.GetColumn(key);
                    <td>
                        @if (column.ClickAction is not null)
                        {
                            <span class="btn-link" @onclick="() => column.ClickAction(model.Entity)">
                                @column.GetValue(model.Entity)
                            </span>
                        }
                        else if (column.Checkable)
                        {
                            <input type="checkbox" 
                                   @bind:get="column.GetValue(model.Entity) is true"
                                   @bind:set="(value) => column.SetValue(model.Entity, value)" />
                        }
                        else
                        {
                            @if(column.Editable)
                            {
                                @if(column.Choices is null)
                                {                                
                                <input type="text" 
                                       class="form-control"
                                       @bind:get="column.Format(column.GetValue(model.Entity))"
                                       @bind:set="(value) => column.SetValue(model.Entity, column.Parse(value))" />
                                }
                                else
                                {
                                <select @bind:get="column.Format(column.GetValue(model.Entity))"
                                        @bind:set="(value) => column.SetValue(model.Entity, column.Parse(value))">

                                    @foreach(object choice in column.Choices)
                                    {
                                    <option value="@choice">@choice</option>
                                    }

                                </select>               
                                }
                            }else{
                            <span>@column.GetValue(model.Entity)</span>
                            }
                        }
                    </td>
                    }
                    <td>
                        <button type="button" class="btn btn-primary" @onclick="() => Delete(model)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <button type="button" class="btn btn-primary" @onclick="() => Add()">
            <i class="bi bi-plus-circle"></i>
        </button>
    </div>
}

@code {
    #region Parameters
    [Parameter]
    public required IEnumerable<TModel>? models { private get; set; }
    [Parameter]
    public required IColumnMap<TModel>? columnMap { private get; set; }
    [Parameter]
    public required Action<TModel>? OnDelete { private get; set; }
    [Parameter]
    public required Action<TModel>? OnAdd { private get; set; }
    #endregion

    private IList<Counted<TModel>> _models = new List<Counted<TModel>>();
    private IColumnMap<TModel> _columnMap = new ColumnMap<TModel>();

    public IEnumerable<Counted<TModel>> Models => _models;
    public IEnumerable<string> Captions => _columnMap.Captions;
    public IEnumerable<ColumnKey> Keys => _columnMap.Keys;

    protected override void OnInitialized()
    {
        if (models is null) throw new ArgumentNullException(nameof(models));
        if (columnMap is null) throw new ArgumentNullException(nameof(columnMap));

        _models = models.ZipCounted().ToList();
        _columnMap = columnMap;
    }

    protected void Add()
    {
        var model = new TModel();
        _models.Add(new Counted<TModel> {Ordinal = _models.Count() + 1, Entity = model});
        if (OnAdd != null) OnAdd(model);
    }

    protected void Delete(Counted<TModel> model)
    {
        // renumber all the elements after the one being removed
        _models.Skip(model.Ordinal).Apply(m => --m.Ordinal);
        _models.Remove(model);
        
        if (OnDelete != null) OnDelete(model.Entity);
    }
}
